<div class="agendaContainer" *ngIf="currentUser">
    <div class="listWrapper">
        <div *ngFor="let event of events">
            <cim-event-row [event]="event"
                           (eventToShow)="eventOnClick($event)">
            </cim-event-row>
        </div>
    </div>
    <div class="detailView" [ngClass]="rightSideActive ? 'show' : ''">
        <cim-event-detail [event]="eventToEdit"
                          [user]="currentUser"
                          (closeView)="onCloseRightSide($event)">
        </cim-event-detail>
    </div>
</div>
