<div class="agendaContainer" *ngIf="currentUser">
    <div class="listWrapper">
        <div *ngFor="let event of events">
            <cim-event-row [event]="event"
                           [currentUser]="currentUser"
                           (eventToDelete)="eventOnDelete($event)"
                           (eventToShow)="eventOnClick($event)">
            </cim-event-row>
        </div>
    </div>
    <div class="detailView" [ngClass]="rightSideActive ? 'show' : ''">
        <cim-event-detail
            [event]="eventToEdit"
            [user]="currentUser"
            (closeView)="onCloseRightSide()"
            (saveEvent)="onSaveEvent($event)">
        </cim-event-detail>
    </div>
</div>
