<mat-expansion-panel class="card expansion-panel" *ngIf="!parentIsDocument()" [disabled]="!subDocuments || subDocuments.length === 0" (click)="editDocument($event, true)">
    <mat-expansion-panel-header [collapsedHeight]="'58px'">
        <mat-panel-title class="toggleTitle" [ngClass]="{'disabled': !subDocuments || subDocuments.length === 0}">
            <div class="rowTitle">
                <i class="material-icons"> {{ !subDocuments || subDocuments.length === 0 ? 'description' : 'folder_open' }}</i>
                <h3> {{ document.getName()}} </h3>
            </div>
            <div class="actions">
                <i class="material-icons" *ngIf="parent.isMainFunction && currentUser.isAdmin()" (click)="onAddChapter($event)"
                   matTooltip="Subhoofdstuk toevoegen"
                   [matTooltipPosition]="'above'"
                   matTooltipClass="tooltip"> note_add </i>
                <i class="material-icons" (click)="editDocument($event)"
                   matTooltip="{{currentUser.isAdmin() ? 'Bewerken' : 'Bekijken' }}"
                   [matTooltipPosition]="'above'"
                   matTooltipClass="tooltip"> {{currentUser.isAdmin() ? 'edit' : 'visibility' }} </i>
                <i class="material-icons" *ngIf="showDeleteButton()" (click)="deleteDocument($event)"
                   matTooltip="Verwijderen"
                   [matTooltipPosition]="'above'"
                   matTooltipClass="tooltip"> delete_forever </i>
            </div>
        </mat-panel-title>
        <i class="material-icons arrowRight" *ngIf="!subDocuments || subDocuments.length === 0"> arrow_right </i>
    </mat-expansion-panel-header>

    <div cdkDropList class="dragList" *ngIf="subDocuments">
        <div class="dragItem" *ngFor="let subDocument of subDocuments">
            <cim-document-row
                    [document]="subDocument"
                    [currentUser]="currentUser"
                    [parent]="document"
                    [upperParent]="parent"
                    (activatedDocument)="editSubDocument(subDocument, document)"
                    (addChapter)="onAddChapter($event)">
            </cim-document-row>
        </div>
    </div>
</mat-expansion-panel>

<div *ngIf="parentIsDocument()" class="DocumentWrapper" (click)="editDocument($event)">
    <div class="header">
        <i class="material-icons"> {{ iconName }} </i>
        <h3> {{ document.getName() }}</h3>
    </div>
    <div class="actions">
        <i *ngIf="showDeleteButton()" class="material-icons" (click)="deleteDocument($event)"
           matTooltip="Verwijderen"
           [matTooltipPosition]="'above'"
           matTooltipClass="tooltip"> delete_forever </i>
        <i class="material-icons"> arrow_right </i>
    </div>
</div>