<div class="card rippleRow" routerLink="{{company.id}}">
    <div class="title">
        <i class="material-icons"> business </i>
        <h3> {{ company.name }}</h3>
    </div>
    <div class="actions">
        <i class="material-icons" *ngIf="currentUser.isAdmin()" (click)="onEditCompany($event)"> edit </i>
        <i class="material-icons" *ngIf="currentUser.isAdmin()" (click)="onDeleteCompany($event)"> delete_forever </i>
        <i class="material-icons"> arrow_right </i>
    </div>
</div>
