div.detail {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    border: solid 1px #cecece;
    border-bottom: none;
    padding: 10px;
    border-radius: 4px;
    color: rgba(0,0,0,.87);
    background-color: #fff;
}

div.detail > .header {
    display: flex;
}

div.detail > .header > h3 {
    flex: 1;
    display: flex;
    justify-content: center;
}

div.detail > div.content {
    padding: 0 15px;
}

div.detail > div.content > h4 {
    font-size: 18px;
}
div.detail > div.content > .location > .map > agm-map {
    height: 300px;
}

div.detail > div.content > div.text {
    font-size: 15px;
    display: flex;
    padding: 4px 0;
}
label {
    font-weight: bold;
    color: #585858;
    flex: 1;
}

div.detail > div.content > div.text > span {
    flex: 2;
}