<div class="detailWrapper" *ngIf="currentUser.isAdmin()">
    <h3> {{action ? 'Actie bewerken' : 'Actie toevoegen'}} </h3>
    <form [formGroup]="actionForm" (ngSubmit)="onSubmit()">
        <div mat-dialog-content>
            <div *ngIf="actionForm.get('description').invalid && (actionForm.get('description').dirty || actionForm.get('description').touched)" class="alert alert-danger">
                <div *ngIf="actionForm.get('description').errors.required">
                    Omschrijving is vereist
                </div>
            </div>
            <mat-form-field>
                <input matInput placeholder="Omschrijving" formControlName="description" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Actie houder</mat-label>
                <mat-select [(ngModel)]=userSelected [ngModelOptions]="{standalone: true}" name="users">
                    <mat-option *ngFor="let user of users" [value]="user.id">
                        {{user.getFullName()}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div *ngIf="actionForm.get('week').invalid && (actionForm.get('week').dirty || actionForm.get('week').touched)" class="alert alert-danger">
                <div *ngIf="actionForm.get('week').errors.weekNumber">
                    Een jaar heeft maximaal 52 weken
                </div>
                <div *ngIf="actionForm.get('week').errors.maxLength">
                    Week nummer mag maximaal 2 nummers zijn
                </div>
            </div>
            <mat-form-field>
                <input type="number" matInput placeholder="Week" formControlName="week">
            </mat-form-field>
            <mat-form-field>
                <input type="text" matInput placeholder="Opmerkingen" formControlName="comments">
            </mat-form-field>
        </div>
        <div mat-dialog-actions>
            <button mat-raised-button type="submit" [disabled]="!actionForm.valid"> {{action ? 'Opslaan' : 'Toevoegen'}} </button>
            <button mat-button (click)="onCancel($event)">Annuleren</button>
        </div>
    </form>
</div>
<cim-action-detail-public *ngIf="!currentUser.isAdmin() && action"
                          [action]="action"
                          (closeView)="onCancel()">
</cim-action-detail-public>

