<div class="list">
    <h3> Gearchiveerde acties </h3>
    <table #archivedActions mat-table [dataSource]="actions" class="tableList">
        <!-- Code Column -->
        <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef> Actie code </th>
            <td mat-cell *matCellDef="let action"> {{action.code}} </td>
        </ng-container>

        <!-- The action description Column -->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Omschrijving </th>
            <td mat-cell *matCellDef="let action"> {{action.description}} </td>
        </ng-container>

        <!-- The action holder Column -->
        <ng-container matColumnDef="actionHolder">
            <th mat-header-cell *matHeaderCellDef> Actie houder </th>
            <td mat-cell *matCellDef="let action"> {{action.actionHolder}} </td>
        </ng-container>

        <!-- Week Column -->
        <ng-container matColumnDef="week">
            <th mat-header-cell *matHeaderCellDef> Week </th>
            <td mat-cell *matCellDef="let action"> {{action.week}} </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Klaar </th>
            <td mat-cell *matCellDef="let action">
                <mat-checkbox (click)="changeActionStatus($event, action)"
                              (change)="$event ? selection.toggle(action) : null"
                              [checked]="action.isDone">
                </mat-checkbox>
            </td>
        </ng-container>

        <!-- Week Column -->
        <ng-container matColumnDef="comment">
            <th mat-header-cell *matHeaderCellDef> Opmerkingen </th>
            <td mat-cell *matCellDef="let action" >
                <i *ngIf="action.comments" class="material-icons"> priority_high </i>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row class="actionRow" *matRowDef="let action; columns: displayedColumns;"></tr>
    </table>
</div>