<div class="header">
    <h3> Voeg een bestaande hoofdstuk toe</h3>
</div>
<div class="warning" *ngIf="chapters && chapters.length === 0">
    <div class="content">
        <i class="material-icons"> warning </i>
        <span>
            U kunt geen bestaande hoofdstuk toevoegen, alle bestaande hoofdstukken zijn all toegevoegd.
            klik op nieuwe hoofdstuk om een nieuwe hoofdstuk te maken.
        </span>
    </div>
</div>
<mat-selection-list #list *ngIf="chapters" [(ngModel)]="chaptersSelected">
    <mat-list-option *ngFor="let chapter of chapters" [value]="chapter.id">
        <div class="content">
            <i class="material-icons"> insert_drive_file </i>
            {{chapter.name}}
        </div>
    </mat-list-option>
</mat-selection-list>
<div class="actions">
    <button mat-raised-button (click)="submit($event)">Opslaan</button>
    <button mat-button (click)="onCloseView($event)">Annuleren </button>
</div>
