<div class="header">
    <h3> Voeg een bestaande hoofdstuk toe</h3>
</div>
<div class="warning" [@toggleInView] *ngIf="chapters && chapters.length === 0">
    <div class="content">
        <i class="material-icons"> warning </i>
        <span>
            U kunt geen bestaande inhoud stuk toevoegen, alle bestaande inhoud stukken  zijn all toegevoegd.
            Om meer inhoud stukken te kunnen kopellen, moet u nieuwe inhoud stukken in het uitvoerings plan maken.
        </span>
    </div>
</div>
<mat-selection-list #list *ngIf="chapters" [@toggleInView] [(ngModel)]="chaptersSelected">
    <mat-list-option class="listOption" *ngFor="let chapter of chapters" [value]="chapter">
        <div class="content">
            <i class="material-icons"> insert_drive_file </i>
            {{chapter.name}}
        </div>
    </mat-list-option>
</mat-selection-list>
<div class="actions">
    <button mat-raised-button (click)="submit($event)">Opslaan</button>
    <button mat-button (click)="onCloseView($event)">Annuleren </button>
</div>
