<div *ngIf="folder.getProjectId() !== null ; then folderBlock; else subFolderBlock"></div>
<ng-template #folderBlock>
    <div class="folderWrapper" *ngIf="currentUser.isAdmin() || folder.getIsOn() === true" (click)="redirectToFolderOrShowDocs($event)">
        <div class="header">
            <i class="material-icons"> folder_open </i>
            <h3> {{ folder.getName()}}</h3>
        </div>
        <div class="actions">
            <label class="switch" *ngIf="folderEditable() && currentUser.isAdmin()" (click)="toggleFolderOn($event, !folder.getIsOn())">
                <input type="checkbox" [checked]="folder.getIsOn()">
                <span class="slider round">
                    <span class="on">AAN</span>
                    <span class="off">UIT</span>
                </span>
            </label>
            <i class="material-icons"> arrow_right </i>
        </div>
    </div>
</ng-template>

<ng-template #subFolderBlock>
    <div class="folderToggleDocument" *ngIf="documents">
        <mat-accordion *ngIf="currentUser.isAdmin() || folder.getIsOn() === true">
            <mat-expansion-panel class="toggleRow">
                <mat-expansion-panel-header>
                    <mat-panel-title class="toggleTitle">
                        <i class="material-icons"> folder_open </i>
                        <h3> {{ folder.getName()}} </h3>
                    </mat-panel-title>
                    <div class="actions">
                        <button *ngIf="currentUser.isAdmin()" (click)="editFolder($event)" class="mat-button editFolderButton">
                            <i class="material-icons"> edit </i>
                        </button>
                        <button *ngIf="showDeleteButton()" (click)="deleteFolder($event)" class="mat-button editFolderButton">
                            <i class="material-icons"> delete_forever </i>
                        </button>
                    </div>
                </mat-expansion-panel-header>

                <cim-document-row *ngFor="let document of documents"
                                  [document]="document"
                                  [parentFolder]="folder"
                                  [currentUser]="currentUser"
                                  (activatedDocument)="sendOnDocumentEdit($event)">
                </cim-document-row>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</ng-template>

