<div class="folderWrapper" *ngIf="currentUser.isAdmin() || folder.getIsOn() === true" routerLink="{{redirectUrl}}">
    <div class="header">
        <i class="material-icons"> folder_open </i>
        <h3> {{ folder.getName()}}</h3>
    </div>
    <div class="actions">
        <label class="switch" *ngIf="folderEditable()">
            <input type="checkbox" [checked]="folder.getIsOn()" (click)="toggleFolderOn(!folder.getIsOn())">
            <span class="slider round">
                <span class="on">AAN</span>
                <span class="off">UIT</span>
            </span>
        </label>
        <i class="material-icons"> arrow_right </i>
    </div>
</div>
