div.wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

div.addItem {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    opacity: 0;
    transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

div.addItem > div.addItemButton {
    display: flex;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    border: solid 1px #cecece;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 4px;
    color: rgba(0,0,0,.87);
    transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
}
div.addItem.showButton {
    opacity: 1;
}

div.addItem > div.addItemButton:hover {
    background: var(--secondary-hover-color);
}

div.addItem > div.addItemButton > i.material-icons {
    margin-right: 10px;
}

div.wrapper > div.overview.readModeEnabled {
    flex: 0;
    width: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 1px;
}
div.wrapper > div.overview.show {
    margin-right: 15px;
}


div.wrapper > div.overview {
    height: calc(94vh - 64px);
    width: 0;
    flex: 1;
    padding: 5px 10px;
    overflow: auto;
    transition: all 1s ease;
}

div.wrapper > div.editDocument {
    flex: 1;
}
div.wrapper > div.addItemList {
    flex: 1;
}

div.wrapper > div.overview > div.partnersWrapper > .header {
    display: flex;
}

div.wrapper > div.overview > div.partnersWrapper > .header > h3 {
    margin: 0;
}
div.wrapper > div.overview > div.partnersWrapper > .header > .material-icons {
    margin-right: 18px;
}

div.wrapper > div.overview > div.partnersWrapper > .actions {
    display: flex;
    align-items: center;
}

div.wrapper > div.partners {
    display: flex;
    flex: 1;
}
div.wrapper > div.partners > cim-partners {
    width: 100%;
}

div.wrapper > div.addItemForMainFolder {
    flex: 1;
}

div.wrapper > div.readeModeContainer {
    transition: all 1s ease;
    flex: 0;
    width: 0;
}
div.wrapper > div.readeModeContainer.animateDiv {
    flex: 1;
}

div.folderDetailContainer {
    flex: 0;
    width: 0;
    padding: 0;
    overflow: hidden;
    transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

div.folderDetailContainer.show {
    padding: 5px 10px;
    flex: 1;
    height: calc(94vh - 64px);
    overflow: auto;
}
div.card.show.scrollBar {
    height: 63vh;
    overflow: auto;
}