div.card > div.componentHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 5px;
}

div.card > div.componentHeader > h3 {
    margin: 0;
    font-size: 20px;
}
div.card > div.componentHeader > mat-button-toggle-group {
    font-size: 14px;
}

div.card > cim-detail-folder {
    width: 100%;
}