<div class="wrapper">
    <div class="leftSide" [@resizeWidth]="showRightSide ? 'smallWidth' : 'fullWidth'">
        <div class="cardRow rippleRow" (click)="onEditColor('primary', organisation.primaryColor)">
            <div class="title">
                <i class="material-icons"> business </i>
                <h3> Hoofd kleur</h3>
            </div>
            <div class="colorPreview" [style.backgroundColor]="organisation.primaryColor"></div>
        </div>
        <div class="cardRow rippleRow" (click)="onEditColor('secondary', organisation.secondaryColor)" [style.color]="organisation.secondaryColor">
            <div class="title" >
                <i class="material-icons"> business </i>
                <h3 [style.color]="organisation.secondaryColor"> Sub Kleur</h3>
            </div>
            <div class="colorPreview" [style.backgroundColor]="organisation.secondaryColor"></div>
        </div>
        <div class="cardRow rippleRow">
            <div class="title">
                <i class="material-icons"> business </i>
                <h3> Logo</h3>
            </div>
        </div>
    </div>
    <div class="rightSide" [@toggleInView]="showRightSide ? 'open' : 'close'">
        <cim-color-picker-detail
                [colorPackage]="colorPackage"
                (closeView)="onClose($event)">
        </cim-color-picker-detail>
    </div>
</div>
