<div class="wrapper">
    <div class="leftSide" [@resizeWidth]="showRightSide || showEditLogo ? 'smallWidth' : 'fullWidth'">
        <div class="cardRow rippleRow" (click)="onEditColor('primary', organisation.primaryColor)">
            <div class="title">
                <i class="material-icons"> color_lens </i>
                <h3> Hoofd kleur</h3>
            </div>
            <div class="actions">
                <i class="material-icons"
                   matTooltip="Bewerken"
                   [matTooltipPosition]="'above'"
                   matTooltipClass="tooltip"> edit </i>
            </div>
        </div>
        <div class="cardRow rippleRow" (click)="onEditColor('secondary', organisation.secondaryColor)" [style.color]="organisation.secondaryColor">
            <div class="title" >
                <i class="material-icons"> color_lens </i>
                <h3 [style.color]="organisation.secondaryColor"> Sub Kleur</h3>
            </div>
            <div class="actions">
                <i class="material-icons"
                   matTooltip="Bewerken"
                   [matTooltipPosition]="'above'"
                   matTooltipClass="tooltip"> edit </i>
            </div>
        </div>
        <div class="cardRow rippleRow" (click)="onEditLogo()">
            <div class="title">
                <i class="material-icons"> image </i>
                <h3> Logo</h3>
            </div>
            <div class="actions">
                <i class="material-icons"
                   matTooltip="Bewerken"
                   [matTooltipPosition]="'above'"
                   matTooltipClass="tooltip"> edit </i>
            </div>
        </div>
    </div>
    <div class="rightSide" [@toggleInView]="showRightSide ? 'open' : 'close'">
        <cim-color-picker-detail
                [colorPackage]="colorPackage"
                (closeView)="onClose($event)">
        </cim-color-picker-detail>
    </div>
    <div class="rightSide" [@toggleInView]="showEditLogo ? 'open' : 'close'">
        <cim-organisation-logo-detail
                [organisation]="organisation"
                (closeView)="onClose($event)">
        </cim-organisation-logo-detail>
    </div>
</div>
