<div class="card">
    <div class="header">
        <h3> Voeg een hoofdstuk toe aan het document</h3>
    </div>
    <mat-selection-list #list *ngIf="items" [(ngModel)]="itemsSelected">
        <mat-list-option *ngFor="let item of items" [value]="item">
            <ng-container *ngIf="isFolder(item)">
                <div class="content">
                    <i class="material-icons"> folder </i>
                    {{item.getName()}}
                </div>
            </ng-container>
            <ng-container *ngIf="!isFolder(item)">
                <div class="content">
                    <i class="material-icons"> insert_drive_file </i>
                    {{item.getName()}}
                </div>
            </ng-container>
        </mat-list-option>
    </mat-selection-list>
    <div class="actions">
        <button mat-raised-button (click)="saveItems($event)">Toevoegen</button>
        <button mat-stroked-button (click)="cancelList($event)">Annuleren </button>
    </div>
</div>
