mat-selection-list.mat-selection-list.mat-list-base.ng-star-inserted {
    width: 100%;
}

div.content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.content > i.material-icons {
    margin-right: 10px;
}
div.actions {
    padding-top: 10px;
}