div.actionListWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.actionListWrapper > div.contentWrapper {
    width: 100%;
    display: flex;
    /*justify-content: center;*/
    /*align-items: flex-start;*/
}
div.actionListWrapper > div.contentWrapper > .leftSide {
    width: 100%;
    height: var(--body-height);
    padding-bottom: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
div.actionListWrapper > div.contentWrapper > .leftSide.rightSideActive {
    margin-right: 10px;
    width: 50%;
}
div.actionListWrapper > div.contentWrapper > .leftSide > div.list {
    display: flex;
    flex: 2;
    flex-direction: column;
    align-items: center;
    border: solid 1px #cecece;
    border-bottom: none;
    padding: 10px 0;
    border-radius: 4px;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

div.actionListWrapper > div.contentWrapper > .leftSide > div.list > h3 {
    margin: 10px
}

div.actionListWrapper > div.contentWrapper > .leftSide > div.list > table.tableList {
    width: 100%;
}

div.actionListWrapper > div.contentWrapper > div.rightSide {
    height: var(--body-height);
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
div.actionListWrapper > div.contentWrapper > div.rightSide.rightSideActive {
    width: 50%;
}

div.actionListWrapper > div.contentWrapper > div.rightSide > div {
    padding: 0 0 5px;
}

tr.actionRow {
    cursor: pointer;
}
tr.actionRow:hover {
    background: var(--secondary-hover-color);
}
td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    color: var(--primary-color);
    border-color: var(--primary-color);
}