div.actionListWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.actionListWrapper > div.addActionButton {
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px #cecece;
    border-bottom: none;
    cursor: pointer;
    padding: 10px 16px;
    border-radius: 4px;
    color: rgba(0,0,0,.87);
    transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

div.actionListWrapper > div.addActionButton:hover {
    background: #f7f7f7;
}

div.actionListWrapper > div.contentWrapper {
    margin-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
div.actionListWrapper > div.contentWrapper > div.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    border: solid 1px #cecece;
    border-bottom: none;
    padding: 10px;
    border-radius: 4px;
    color: rgba(0,0,0,.87);
    transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1);
    flex: 2;
}

div.actionListWrapper > div.contentWrapper > div.list > h3 {
    margin: 10px
}

div.actionListWrapper > div.contentWrapper > div.list > table.tableList {
    width: 100%;
}

div.actionListWrapper > div.contentWrapper > div.rightSide {
    display: flex;
    flex-direction: column;
    flex: 0;
    transition: all 500ms ease;
}
div.actionListWrapper > div.contentWrapper > div.rightSide.onActive {
    flex: 2;
    transition: all 1s ease;
}

tr.actionRow {
    cursor: pointer;
}
tr.actionRow:hover {
    background: #f7f7f7;
}