<div class="card editDocument">
    <cim-chapter-edit *ngIf="chapter || !checkParentIsWorkFunction() || (checkParentIsWorkFunction() && checkParentIsWorkFunction().isMainFunction)"
                      [chapter]="chapter"
                      [parent]="parent"
                      (closeView)="onCloseView($event)">
    </cim-chapter-edit>
    <cim-chapter-list *ngIf="!chapter && checkParentIsWorkFunction() && !checkParentIsWorkFunction().isMainFunction"
                      [parent]="parent"
                      [mainWorkFunction]="mainWorkFunction"
                      (closeView)="onCloseView($event)">
    </cim-chapter-list>
</div>
