.wrapper {
    display: flex;
    /*justify-content: center;*/
    align-items: flex-start;
}
.wrapper > .reserveCompany {
    max-width: 500px;
}

.wrapper > .reserveCompany > .actions {
    padding-top: 40px;
}
.wrapper > .reserveCompany > .actions > button:first-child {
    margin-right: 20px;
}
.wrapper > .container {
    flex:none;
    width: 100%;
}
.wrapper > .container:first-child {
    float: left;
    margin-right: 20px;
}
.wrapper > .container:first-child.reserveCompany {
    margin: auto;
}
