.wrapper {
    display: flex;
    align-items: flex-start;
}
.wrapper > div {
    height: calc(94vh - 64px);
    overflow-y: auto;
    padding-bottom: 1px;
    overflow-x: hidden;
}

.wrapper > .rightSide.show {
    width: 100%;
}

.wrapper > .rightSide > .reserveCompany > .actions {
    padding-top: 40px;
}
.wrapper > .rightSide > .reserveCompany > .actions > button:first-child {
    margin-right: 20px;
}
.wrapper > .container {
    flex:none;
    width: 100%;
}
.wrapper > .container:first-child {
    float: left;
    margin-right: 20px;
}
.wrapper > .container:first-child.reserveCompany {
    margin: auto;
}
.wrapper > .warning {
    margin: auto;
    align-items: flex-start;
}