<div class="folderToggleDocument" *ngIf="documents">
    <mat-accordion>
        <mat-expansion-panel class="toggleRow">
            <mat-expansion-panel-header>
                <mat-panel-title class="toggleTitle">
                    <i class="material-icons"> folder_open </i>
                    <h3> {{ folder.name }} </h3>
                </mat-panel-title>
                <div class="actions">
                    <button *ngIf="currentUser.isAdmin()" (click)="editFolder($event)" class="mat-button editFolderButton">
                        <i class="material-icons"> edit </i>
                    </button>
                    <button *ngIf="showDeleteButton()" (click)="deleteFolder($event)" class="mat-button editFolderButton">
                        <i class="material-icons"> delete_forever </i>
                    </button>
                </div>
            </mat-expansion-panel-header>

            <cim-document-row *ngFor="let document of documents"
                              [document]="document"
                              [parent]="folder"
                              [currentUser]="currentUser"
                              (activatedDocument)="sendOnDocumentEdit($event)">
            </cim-document-row>
        </mat-expansion-panel>
    </mat-accordion>
</div>

