<div class="card createFolder" *ngIf="!showAddDocument">
    <div class="header" *ngIf="folder">
        <button mat-button (click)="onCancel($event)" > <i class="material-icons"> close </i> </button>
        <h3 class="title">Wijzig hoofdstuk: {{ folder.name }}</h3>
    </div>
    <form [formGroup]="folderForm" (ngSubmit)="onSubmit()">
        <div class="content">
            <div mat-dialog-content class="formFields">
                <mat-form-field>
                    <input matInput placeholder="Hoofdstuk naam" formControlName="name" required="required">
                </mat-form-field>
            </div>
            <div class="documentList" *ngIf="documents">
                <div class="documentHeader">
                    <h3>Sub hoofdstukken</h3>
                    <button mat-raised-button color="primary" (click)="addDocument($event)">
                        <span> Sub hoofdstuk toevoegen </span>
                        <i class="material-icons"> add </i>
                    </button>
                </div>
                <div class="documentsContainer">
                    <mat-expansion-panel *ngFor="let document of documents" class="toggleRow">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="toggleTitle">
                                <h4> {{ document.getName()}} </h4>
                            </mat-panel-title>
                            <button *ngIf="showDeleteButton(document)" (click)="deleteDocument($event, document)" class="mat-button editFolderButton">
                                <i class="material-icons"> delete_forever </i>
                            </button>
                        </mat-expansion-panel-header>
                        <div #dataContainer>{{ setContent(document, dataContainer)}}</div>
                    </mat-expansion-panel>
                </div>
            </div>
        </div>
        <div class="actionButtons">
            <button mat-raised-button type="submit">Opslaan</button>
            <button mat-button (click)="onCancel($event)">Annuleren</button>
        </div>
    </form>
</div>
<cim-document-detail *ngIf="folder && showAddDocument"
                     [currentUser]="currentUser"
                     [parentFolder]="folder"
                     (closeEditForm)="onCloseAddDocument($event)">
</cim-document-detail>