div.editDocument > div.formBody {
    padding: 10px 0;
}

div.editDocument > div.formBody > form > div.actionButtons {
    padding: 15px 1px;
}

div.formFields {
    display: flex;
    flex-direction: column;
}

textarea.textArea {
    min-height: 400px;
}
div.positionFixed {
    position: fixed;
    margin-right: 67px;
    top: 70px;
}