div.createFolder > form > .actionButtons {
    margin-top: 10px;
}
mat-form-field.mat-form-field {
    width: 100%;
}

div.documentList > mat-expansion-panel {
    border: solid 1px #cecece;
    border-bottom: none;
}

button.editFolderButton > i.material-icons {
    font-size: 17px;
}

div.documentHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

div.documentHeader > h3 {
    margin: 0;
}