:host {
    display: flex;
    justify-content: center;
}
.reset-password-card {
    width: 100%;
    max-width: var(--max-width);
}
.reset-password-card .actions {
    display: flex;
    justify-content: space-between;
}
.reset-password-card .actions > .cancel-button {
    background-color: #c1c1c1
}
.mat-raised-button {
    color: #fff;
}
