mat-card.projectRow {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border: solid 1px #cecece;
    border-bottom: none;
    cursor: pointer;
    transition: background 0.5s;
}
mat-card.projectRow.mat-card:hover {
    background: #f7f7f7;
}
mat-card-actions.actionButton {
    display: flex;
    align-items: center;
}
mat-card-actions.actionButton > .actionsEditDelete {
    display: inline;
    padding-right: 5px;
}
mat-card-actions.actionButton > .actionsEditDelete > i.material-icons {
    font-size: 18px;
    margin-right: 5px;
}