mat-card.projectRow {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border: solid 1px #cecece;
    border-bottom: none;
    cursor: pointer;
    transition: background 0.5s;
}
mat-card.projectRow.mat-card:hover {
    background: #f7f7f7;
}
mat-card-actions.actions {
    display: flex;
    align-items: center;
}
mat-card-actions.actions > .actionsEditDelete {
    display: inline;
    padding-right: 5px;
}
mat-card-actions.actions > .actionsEditDelete > i.material-icons:last-child {
    padding-right: 0;
}

mat-card-actions.actions > i.material-icons.arrow {
    font-size: 25px;
    padding-left: 0;
}