<mat-card class="projectRow" *ngIf="userViewProject()" routerLink="{{ project.id }}">
    <mat-card-header>
        <mat-card-title> {{ project.name }}</mat-card-title>
    </mat-card-header>

    <mat-card-actions class="actions">
        <div class="actionsEditDelete" *ngIf="currentUser.isAdmin()">
            <i class="material-icons" (click)="editProject($event, project.id)"> edit </i>
            <i class="material-icons" (click)="deleteProject($event, project.id)"> delete_forever </i>
        </div>
        <i class="material-icons arrow"> arrow_right </i>
    </mat-card-actions>
</mat-card>
