<div class="card">
    <div class="componentHeader">
        <button mat-button (click)="onCloseView()" > <i class="material-icons"> close </i> </button>
        <h3> Voeg een {{ itemToEdit === 'folder' ? 'sub hoofdstuk': 'hoofdstuk'  }} toe </h3>
        <mat-button-toggle-group name="itemPicker" aria-label="Font Style" class="switchItemButton">
            <mat-button-toggle (change)="changeEditItemForm($event, 'document')" value="document" [checked]="true">Hoofdstuk</mat-button-toggle>
            <mat-button-toggle (change)="changeEditItemForm($event, 'folder')" value="folder">Sub hoofdstuk</mat-button-toggle>
        </mat-button-toggle-group>
    </div>

    <cim-create-document *ngIf="itemToEdit === 'document'"
                         [currentUser]="currentUser"
                         [workFunction]="workFunction">
    </cim-create-document>
    <cim-detail-folder *ngIf="itemToEdit === 'folder'"
                       [parent]="workFunction"
                       (editedFolder)="onFolderEdit($event)">
    </cim-detail-folder>
</div>
