<div class="card">
    <div class="componentHeader">
        <button mat-button (click)="onCloseView()" > <i class="material-icons"> close </i> </button>
        <h3> Voeg een {{ itemToEdit === 'workFunction' ? 'hoofdstuk' : 'sub hoofdstuk' }} toe </h3>
        <mat-button-toggle-group name="itemPicker" aria-label="Font Style" class="switchItemButton">
            <mat-button-toggle (change)="changeEditItemForm($event, 'document')" value="document" [checked]="true">Sub hoofdstuk</mat-button-toggle>
            <mat-button-toggle (change)="changeEditItemForm($event, 'workFunction')" value="folder">Hoofdstuk</mat-button-toggle>
        </mat-button-toggle-group>
    </div>

    <cim-create-document *ngIf="itemToEdit === 'document'"
                         [currentUser]="currentUser"
                         [parentFolder]="folder">
    </cim-create-document>
    <cim-detail-folder *ngIf="itemToEdit === 'workFunction'"
                       [parentFolder]="folder"
                       (editedFolder)="onFolderEdit($event)">
    </cim-detail-folder>
</div>
