<div class="container" [@fadeIn]>
    <div [@items] class="card" [routerLink]="['bim-uitvoeringsplan',  (workFunction$ | async)?.id] ">
        <i class="material-icons"> description </i>
        <div class="header">
            <h2> Uitvoeringsplan </h2>
        </div>
    </div>
    <div [@items] class="card" routerLink="functies">
        <i class="material-icons"> description </i>
        <div class="header">
            <h2> Functies </h2>
        </div>
    </div>
    <div [@items] class="card" routerLink="acties">
        <i class="material-icons"> assignment </i>
        <div class="header">
            <h2> Actielijst </h2>
        </div>

    </div>
    <div [@items] class="card" routerLink="agenda">
        <i class="material-icons"> calendar_today </i>
        <div class="header">
            <h2> Agenda </h2>
        </div>
    </div>
</div>
