div.wrapper {
    display: flex;
}
div.cardRow {
    padding: 12px 18px;
}
div.cardRow > .header > h3 {
    margin: 0;
}
div.cardRow > .header > .material-icons {
    margin-right: 18px;
}

div.cardRow > .actions {
    cursor: pointer;
    display: flex;
    align-items: center;
}