<div class="card rippleRow" *ngIf="currentUser.isAdmin() || workFunction.on === true" (click)="redirectToModule($event)">
    <div class="title">
        <i class="material-icons"> folder_open </i>
        <h3> {{ workFunction.name }}</h3>
    </div>
    <div class="actions">
        <label class="switch" *ngIf="workFunctionEditable() && currentUser.isAdmin()" (click)="toggleOn($event, !workFunction.on)">
            <input type="checkbox" [checked]="workFunction.on">
            <span class="slider round">
                    <span class="on">AAN</span>
                    <span class="off">UIT</span>
                </span>
        </label>
        <i class="material-icons" *ngIf="currentUser.isAdmin() && !workFunction.fromTemplate" (click)="onEditWorkFunction($event)"
           matTooltip="Bewerken"
           [matTooltipPosition]="'above'"
           matTooltipClass="tooltip"> edit </i>
        <i class="material-icons" *ngIf="currentUser.isAdmin() && !workFunction.fromTemplate" (click)="deleteWorkFunction($event)"
           matTooltip="Verwijderen"
           [matTooltipPosition]="'above'"
           matTooltipClass="tooltip"> delete_forever </i>
        <i class="material-icons"> arrow_right </i>
    </div>
</div>