<!--<mat-accordion *ngFor="let foldersTemplate of template.folders">-->
    <!--<mat-expansion-panel class="toggleRow">-->
        <!--<mat-expansion-panel-header>-->
            <!--<mat-panel-title class="toggleTitle">-->
                <!--<i class="material-icons"> folder_open </i>-->
                <!--<span> {{ foldersTemplate.name }} </span>-->
            <!--</mat-panel-title>-->
        <!--</mat-expansion-panel-header>-->

        <!--<div *ngFor="let workFunction of items">-->
            <!--<div *ngIf="workFunction.type === 'folder' ; then folderBlock; else documentBlock"></div>-->
            <!--<ng-template #folderBlock>-->
                <!--<mat-accordion>-->
                    <!--<mat-expansion-panel class="toggleRow">-->
                        <!--<mat-expansion-panel-header>-->
                            <!--<mat-panel-title class="toggleTitle">-->
                                <!--<i class="material-icons"> folder_open </i>-->
                                <!--<span> {{ workFunction.name }} </span>-->
                            <!--</mat-panel-title>-->
                        <!--</mat-expansion-panel-header>-->

                        <!--<div *ngFor="let subDocument of getSubDocuments(workFunction.name)">-->
                            <!--<div class="card rippleRow" (click)="onDocumentClick(subDocument)">-->
                                <!--<i class="material-icons"> description </i>-->
                                <!--{{ subDocument.name }}-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</mat-expansion-panel>-->
                <!--</mat-accordion>-->
            <!--</ng-template>-->

            <!--<ng-template #documentBlock>-->
                <!--<div class="card rippleRow" (click)="onDocumentClick(workFunction)">-->
                    <!--<i class="material-icons"> description </i>-->
                    <!--{{ workFunction.name }}-->
                <!--</div>-->
            <!--</ng-template>-->
        <!--</div>-->
    <!--</mat-expansion-panel>-->
<!--</mat-accordion>-->
<div class="content-row">
    <div class="container" [@resizeWidth]="templateItemToEdit || showWorkFunctionDetail ? 'smallWidth' : 'fullWidth'">
        <div *ngFor="let workFunction of template.workFunctions">
            <mat-accordion>
                <mat-expansion-panel class="card expansion-panel">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="toggleTitle">
                            <div class="rowTitle">
                                <i class="material-icons"> folder_open </i>
                                <span> {{ workFunction.name }} </span>
                            </div>
                            <div class="actions">
                                <i class="material-icons" (click)="editWorkFunction($event, workFunction)"> edit </i>
                                <i class="material-icons" (click)="deleteWorkFunction($event, workFunction)"> delete_forever </i>
                            </div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div *ngIf="workFunction.type === 'folder' ; then folderBlock; else documentBlock"></div>
                    <ng-template #folderBlock>
                        <mat-accordion>
                            <mat-expansion-panel class="card expansion-panel">
                                <mat-expansion-panel-header>
                                    <mat-panel-title class="toggleTitle">
                                        <i class="material-icons"> folder_open </i>
                                        <span> {{ workFunction.name }} </span>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <!--<div *ngFor="let subDocument of getSubDocuments(workFunction.name)">-->
                                <!--<div class="card rippleRow" (click)="onDocumentClick(subDocument, workFunction.name)">-->
                                <!--<i class="material-icons"> description </i>-->
                                <!--{{ subDocument.name }}-->
                                <!--</div>-->
                                <!--</div>-->
                            </mat-expansion-panel>
                        </mat-accordion>
                    </ng-template>

                    <ng-template #documentBlock>
                        <div class="card rippleRow" (click)="onDocumentClick(workFunction)">
                            <i class="material-icons"> description </i>
                            {{ workFunction.name }}
                        </div>
                    </ng-template>
                </mat-expansion-panel>
            </mat-accordion>

        </div>
    </div>
    <div class="container" *ngIf="templateItemToEdit" [@toggleInView]="templateItemToEdit ? 'open' : 'close'">
        <cim-template-item-detail
                [itemEdit]="templateItemToEdit"
                [template]="template"
                (closeView)="onCloseItemView()">
        </cim-template-item-detail>
    </div>

    <div class="container" *ngIf="showWorkFunctionDetail" [@toggleInView]="showWorkFunctionDetail ? 'open' : 'close'">
        <cim-work-function-edit
                [workFunction]="workFunctionToEdit"
                [template]="template"
                (closeView)="onCloseItemView()">
        </cim-work-function-edit>
    </div>
</div>
