mat-card.editDocument {
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    border: solid 1px #cecece;
}

mat-card.editDocument > h3.title {
    padding-top: 10px;
}

div.mat-card-header-text {
    margin: 0;
}
div.formFields {
    display: flex;
    flex-direction: column;
}

textarea.textArea {
    min-height: 400px;
}