div.usersWrapper {
    display: flex;
}

div.usersWrapper > div.userOverview {
    flex: none;
    width: 100%;
    height: var(--body-height);
    padding-bottom: 5px;
    margin-right: 10px;
    float: left;
}

div.usersWrapper > div.userDetail {
    flex: none;
    width: 100%;
    height: var(--body-height);
    padding-bottom: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}
.list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.item {
    width: 100%;
    height: 50px;
    background-color: purple;
    margin: 5px;
}