<div class="usersWrapper">
    <div class="userOverview" [@resizeWidth]="rightSideActive ? 'smallWidth' : 'fullWidth'" *ngIf="users && users.length > 0">
        <div [@items] *ngFor="let user of users">
            <cim-user-row [organisation]="organisation"
                          [currentUser]="currentUser"
                          [user]="user"
                          (userToEdit)="onEditUser($event)">
            </cim-user-row>
        </div>
    </div>
    <div class="userDetail" *ngIf="rightSideActive" [@toggleInView]="rightSideActive ? 'open' : 'close'">
        <cim-user-detail [currentUser]="currentUser"
                         [user]="userToEdit"
                         [allUsers]="users"
                         (closeDetailView)="closeUserDetailView($event)">
        </cim-user-detail>
    </div>
</div>
