<div *ngIf="users" class="usersWrapper">
    <div class="userOverview">
        <cim-user-row *ngFor="let user of users"
                      [organisation]="organisation"
                      [currentUser]="currentUser"
                      [user]="user"
                      (userToEdit)="onEditUser($event)">
        </cim-user-row>
    </div>
    <div class="userDetail" [ngClass]="{'showDetail': tempAnimationDelay}">
        <cim-user-detail *ngIf="rightSideActive"
                         [currentUser]="currentUser"
                         [user]="userToEdit"
                         (closeDetailView)="closeUserDetailView($event)">
        </cim-user-detail>
    </div>
</div>
