<div class="header">
    <h3> Voeg een bestaande Kop toe</h3>
</div>
<div class="warning" [@toggleInView] *ngIf="headlines && headlines.length === 0">
    <div class="content">
        <i class="material-icons"> warning </i>
        <span>
            U kunt geen bestaande kop toevoegen, alle bestaande koppen zijn all toegevoegd.
            klik op nieuwe kop om een nieuwe aan te maken.
        </span>
    </div>
</div>
<mat-selection-list #list *ngIf="headlines" [@toggleInView] [(ngModel)]="headlineSelected">
    <mat-list-option class="listOption" *ngFor="let headline of headlines" [value]="headline">
        <div class="content">
            <i class="material-icons"> folder </i>
            {{headline.name}}
        </div>
    </mat-list-option>
</mat-selection-list>
<div class="actions">
    <button mat-raised-button (click)="submit($event)">Opslaan</button>
    <button mat-button (click)="onCloseView($event)">Annuleren </button>
</div>
