<div class="header">
    <button mat-button (click)="onCloseView($event)" *ngIf="chapter"> <i class="material-icons"> close </i> </button>
    <h3 class="title">{{ chapter ? chapter.name : parent.name ? 'Voeg een sub hoofdstuk toe' : 'Voeg een hoofdstuk toe' }}</h3>
</div>
<div class="formBody">
    <form [formGroup]="chapterForm" (ngSubmit)="onSubmit($event)">
        <div class="content">
            <div mat-dialog-content class="formFields">
                <mat-form-field>
                    <input matInput placeholder="Hoofdstuk naam" formControlName="name" required="required">
                </mat-form-field>
                <angular-editor #editor [(ngModel)]="content" (ngModelChange)="dataChanged()" [config]="editorConfig" [ngModelOptions]="{standalone: true}"></angular-editor>
            </div>
        </div>
        <div class="actionButtons">
            <button mat-raised-button type="submit">Opslaan</button>
            <button mat-button (click)="onCloseView($event)">Annuleren</button>
        </div>
    </form>
</div>