<mat-toolbar class="headerToolbar">
    <span>
        <button mat-icon-button *ngIf="sideNavigation && actionMenu.show && currentUser" (click)="actionMenu.onClick()">
            <mat-icon aria-label="Icon">
                {{ actionMenu.iconName }}
            </mat-icon>
        </button>
        <button mat-icon-button *ngIf="actionBack.show" (click)="actionBack.onClick()">
            <mat-icon aria-label="Icon">
                {{ actionBack.iconName }}
            </mat-icon>
        </button>
    </span>
    <span> {{ headerTitle }}</span>
    <div class="actions">
        <button mat-raised-button color="primary" *ngFor="let action of headerAction$ | async;" (click)="action.onClick()">
            <mat-icon aria-label="Icon">
                {{ action.iconName }}
            </mat-icon>
            <span class="actionText"> {{ action.name }}</span>
        </button>
        <img *ngIf="logoSrc" class="logo" [src]="logoSrc" alt="logo">
    </div>
</mat-toolbar>
