<mat-toolbar class="headerToolbar">
    <span>
        <button mat-icon-button *ngIf="sideNavigation && actionMenu.show && currentUser" (click)="actionMenu.onClick()">
            <mat-icon aria-label="Icon">
                {{ actionMenu.iconName }}
            </mat-icon>
        </button>
        <button mat-icon-button *ngIf="actionBack.show" (click)="actionBack.onClick()">
            <mat-icon aria-label="Icon">
                {{ actionBack.iconName }}
            </mat-icon>
        </button>
    </span>
    <span> BIM Uitvoeringsplan</span>
    <span class="actions">
        <ng-template ngFor let-action [ngForOf]="actions">
            <button mat-raised-button color="primary" *ngIf="action.show && currentUser" (click)="action.onClick()">
                <mat-icon aria-label="Icon">
                    {{ action.iconName }}
                </mat-icon>
                <span class="actionText"> {{ action.name }}</span>
            </button>
        </ng-template>
    </span>
</mat-toolbar>