mat-toolbar.headerToolbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
mat-toolbar.headerToolbar > div.actions {
    height: 100%;
    display: flex;
    align-items: center;
}
mat-toolbar.headerToolbar > div.actions > .logo {
    height: 100%;
}
mat-toolbar.headerToolbar > div.actions > button {
    margin-right: 10px;
}
.mat-raised-button.mat-primary {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
span.actionText {
    margin-right: 10px;
}