<div class="header">
    <button mat-button (click)="onCloseView($event)" > <i class="material-icons"> close </i> </button>
    <h3 class="title"> {{event ? 'Wijzig activiteit' : 'Nieuwe activiteit'}} </h3>
</div>
<form [formGroup]="eventForm" (ngSubmit)="onSubmit($event)">
    <div mat-dialog-content class="formFields">
        <mat-form-field>
            <input matInput placeholder="Onderwerp" formControlName="subject" required>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput placeholder="Omschrijving" formControlName="description"></textarea>
        </mat-form-field>
        <div class="dateWrapper">
            <mat-form-field>
                <input #strd formControlName="startDate" matInput [matDatepicker]="startDatePicker" placeholder="Start datum" autocomplete="off" (dateInput)="startDateChange()" (change)="startDateChange()" required>
                <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #startDatePicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field #startTimeInput>
                <input cisTimePicker [timePicker]="startTime" [inputWrapper]="startTimeInput._elementRef" (time)="setStartTime($event)"
                       type="text" matInput placeholder="Start Tijd"
                       formControlName="startTime" pattern="([01]?[0-9]{1}|2[0-3]{1}):[0-5]{1}[0-9]{1}" autocomplete="off" required>
                <mat-icon matSuffix>access_time</mat-icon>
                <cim-time-picker #startTime [startTime]="''" [time]="event ? event.startDate : ''" ></cim-time-picker>
            </mat-form-field>
        </div>
        <div class="dateWrapper">
            <mat-form-field>
                <input formControlName="endDate" matInput [matDatepicker]="endDatePicker" placeholder="Eind datum" autocomplete="off" (dateInput)="endDateChange()" (change)="endDateChange()" required>
                <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #endDatePicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field #endTimeInput>
                <input cisTimePicker [timePicker]="endTime" [inputWrapper]="endTimeInput._elementRef" (time)="setEndTime($event)" (change)="setEndTime(endTime.fullTime)"
                       type="text" matInput placeholder="Tijd"
                       formControlName="endTime" pattern="([01]?[0-9]{1}|2[0-3]{1}):[0-5]{1}[0-9]{1}" autocomplete="off" required>
                <mat-icon matSuffix>access_time</mat-icon>
                <cim-time-picker #endTime [startTime]="eventForm.get('startTime').value" [time]="event ? event.endDate : this.createDateFromStringTime(this.eventForm.controls.endTime.value)"></cim-time-picker>
            </mat-form-field>
        </div>
        <mat-form-field>
            <input type="text" matInput placeholder="Straat naam en nummer" formControlName="streetName" required>
        </mat-form-field>
        <mat-form-field>
            <input type="text" matInput placeholder="Woonplaats" formControlName="residence" required>
        </mat-form-field>
    </div>
  <div class="actions">
      <button mat-raised-button type="submit">Opslaan</button>
      <button mat-button (click)="onCloseView($event)">Annuleren</button>
  </div>
</form>