i.material-icons {
    font-size: 18px;
}
.card > .header {
    padding: 0 10px 5px 0;
}

.card > .header > button {
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms, visibility 250ms;
    align-self: center;
}

.card > .header > .show {
    visibility: visible;
    opacity: 1;
}
.card > .container {
    overflow: hidden;
    padding: 1px;
    overflow-y: auto;
}
.card > .container > .templateList {
    max-height: calc(94vh - 147px);
}
.card > .container > div {
    width: 100%;
}
.card > .container > div:first-child {
    float:left
}
.card > .container > div.halfOpen{
    margin-right: 20px;
}