<mat-card class="projectRow" *ngIf="currentUser && userHasProject() || currentUser.isAdmin()" routerLink="/project/{{ project.getId() }}">
    <mat-card-header>
        <mat-card-title> {{ project.getName() }}</mat-card-title>
    </mat-card-header>

    <mat-card-actions class="actionButton">
        <div class="actionsEditDelete" *ngIf="currentUser.isAdmin()">
            <i class="material-icons" (click)="editProject($event, project.getId())"> edit </i>
            <i class="material-icons" (click)="deleteProject($event, project.getId())"> delete_forever </i>
        </div>
        <i class="material-icons"> arrow_right </i>
    </mat-card-actions>
</mat-card>
