<div #editDocumentContainer *ngIf="currentUser.isAdmin()">
    <div class="card editDocument">
        <div class="header" *ngIf="document">
            <button mat-button (click)="onCloseView($event)" > <i class="material-icons"> close </i> </button>
            <h3 class="title">{{ 'Wijzig hoofdstuk: ' + document.getName() }}</h3>
        </div>
        <div class="formBody">
            <form [formGroup]="documentForm" (ngSubmit)="onSubmit()">
                <div class="content">
                    <div mat-dialog-content class="formFields">
                        <mat-form-field>
                            <input matInput placeholder="Hoofdstuk naam" formControlName="name" required="required">
                        </mat-form-field>
                        <angular-editor #editor [(ngModel)]="content" (ngModelChange)="dataChanged($event)" [config]="editorConfig" [ngModelOptions]="{standalone: true}"></angular-editor>
                    </div>
                </div>
                <div class="actionButtons">
                    <button mat-raised-button type="submit">Opslaan</button>
                    <button mat-button (click)="onCloseView($event)">Annuleren</button>
                </div>
            </form>
        </div>
    </div>
</div>
<cim-document-detail-public *ngIf="!currentUser.isAdmin()"
                            [document]="document"
                            (closeView)="onCloseView()">
</cim-document-detail-public>