<div class="row">
    <div class="header">
        <div class="iconContainer">
            <i class="material-icons"> calendar_today </i>
            <div class="dateContainer">
                <span class="day">{{ event.startDate.getDate() }}</span>
                <span class="month">{{ event.startDate | date:'MMM'}}</span>
            </div>
        </div>
        <div class="content">
            <h3> {{ event.name }} </h3>
            <span>{{ event.startDate | date:'dd/MM/yyyy HH:mm'}} - {{ event.endDate | date:'dd/MM/yyyy HH:mm'}}</span>
        </div>
    </div>
    <div class="actions">
        <i class="material-icons"> arrow_right </i>
    </div>
</div>
