<div #container [ngClass]="addFixedClass ? 'positionFixed' : 'normal'">
    <div class="documentView" *ngIf="activeItem && activeItem.component === 'cim-document-detail'" [@fadeIn]>
        <cim-document-detail
                [parent]="workFunction"
                [currentUser]="currentUser"
                [document]="activeItem.item"
                (closeEditForm)="onCloseView($event)">
        </cim-document-detail>
    </div>

    <div *ngIf="activeItem && activeItem.component === 'cim-partners'" [@fadeIn]>
        <cim-partners
                [currentUser]="currentUser"
                [projectId]="projectId"
                (closeView)="onCloseView($event)">
        </cim-partners>
    </div>
    <div *ngIf="activeItem && activeItem.component === 'cim-item-list'" [@fadeIn]>
        <cim-item-list [mainWorkFunction]="activeItem.mainFunction"
                       [parent]="workFunction"
                       (cancelAddItems)="onCloseView($event)"
                       (saveItemsDone)="onItemsAdded($event)">
        </cim-item-list>
    </div>
    <div *ngIf="activeItem && activeItem.component === 'cim-item-create'" [@fadeIn]>
        <cim-document-detail [parent]="activeItem.parent ? activeItem.parent : workFunction"
                             [currentUser]="currentUser"
                             (closeEditForm)="onCloseView($event)">
        </cim-document-detail>
    </div>
</div>
