<div #container [ngClass]="addFixedClass ? 'positionFixed' : 'normal'">
    <div class="documentView" *ngIf="activeItem && activeItem.component === 'cim-document-detail'" [@fadeIn]>
        <cim-document-detail
                [currentUser]="currentUser"
                [document]="activeItem.item"
                (closeEditForm)="onCloseView($event)">
        </cim-document-detail>
    </div>
    <div *ngIf="activeItem && activeItem.component === 'cim-detail-folder'" [@fadeIn]>
        <cim-detail-folder [currentUser]="currentUser"
                           [folder]="activeItem.item"
                           (closeEditForm)="onCloseView($event)">
        </cim-detail-folder>
    </div>

    <div *ngIf="activeItem && activeItem.component === 'cim-partners'" [@fadeIn]>
        <cim-partners
                [currentUser]="currentUser"
                [projectId]="projectId"
                (closeView)="onCloseView($event)">
        </cim-partners>
    </div>
    <div *ngIf="activeItem && activeItem.component === 'cim-item-list'" [@fadeIn]>
        <cim-item-list [mainWorkFunction]="activeItem.mainFolder"
                       [workFunction]="workFunction"
                       (cancelAddItems)="onCloseView($event)"
                       (saveItemsDone)="onItemsAdded($event)">
        </cim-item-list>
    </div>
    <div *ngIf="activeItem && activeItem.component === 'cim-item-create'" [@fadeIn]>
        <cim-item-create [folder]="workFunction"
                         [currentUser]="currentUser"
                         (folderChange)="onItemsAdded($event)"
                         (closeView)="onCloseView($event)">
        </cim-item-create>
    </div>
</div>
