:host > div.normal > div.documentView >>> cim-document-detail > div > .card {
    border: none;
    box-shadow: none;
    padding: 0;
}
:host > div.normal > div >>> cim-detail-folder > .card {
    border: none;
    box-shadow: none;
    padding: 0;
}
:host > div.normal > div >>> cim-item-list > div.card {
    border: none;
    box-shadow: none;
    padding: 0;
}

:host > div.normal > div.documentView >>> cim-document-detail >>> cim-document-detail-public > .card {
    border: none;
    box-shadow: none;
    padding: 0;
}
:host > div.normal > div >>> cim-item-create > div.card {
    border: none;
    box-shadow: none;
    padding: 0;
}

:host > div.normal > div >>> cim-item-create > div.card >>> cim-create-document >>> cim-document-detail > div > .card {
    border: none;
    box-shadow: none;
    padding: 0;
}