<div #fullDocument>
    <mat-card class="documentsReader" *ngIf="project" >
        <mat-card-header>
            <mat-card-title>{{ project.name }}</mat-card-title>
            <button mat-button (click)="close($event)">
                <i class="material-icons"> close </i>
            </button>
        </mat-card-header>
        <mat-card-content>
            <ng-container *ngFor="let item of items;">
                <div *ngIf="checkItemIsFolder(item) ; then folderBlock; else documentBlock"></div>
                <ng-template #folderBlock>
                    <div>
                        <h3> {{ item.getName() }} </h3>
                        <div *ngFor="let subDocument of item.getDocuments().getValue()">
                            <h4> {{ subDocument.getName() }} </h4>
                            <div #dataContentSubDocument >{{ setContent(subDocument, dataContentSubDocument) }}</div>
                        </div>
                    </div>
                </ng-template>

                <ng-template #documentBlock>
                    <div>
                        <h3> {{ item.getName() }} </h3>
                        <div #dataContentDocument>{{ setContent(item, dataContentDocument) }}</div>
                    </div>
                </ng-template>
            </ng-container>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card>
</div>
