<div class="main-container">
    <cim-header [sideNavigation]="sideMenu"
                (addUserClick)="onAddUserClick($event)">
    </cim-header>
    <mat-sidenav-container class="example-sidenav-container">
        <mat-sidenav #sideMenu>
            <mat-nav-list>
                <ng-template ngFor let-action [ngForOf]="sideMenuActions">
                    <div class="sideMenuAction" *ngIf="action.show && currentUser" (click)="action.onClick(sideMenu.toggle())">
                        <span> {{ action.name }}</span>
                        <mat-icon aria-label="Icon">
                            {{ action.iconName }}
                        </mat-icon>
                    </div>
                </ng-template>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content #sideMenuContent>
            <div class="body">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
