<div class="main-container" *ngIf="organisation !== undefined">
    <cim-header [sideNavigation]="sideMenu"
                [OnResetActions]="resetHeaderAction">
    </cim-header>
    <div class="spinnerContainer" [ngClass]="showIsLoading ? 'showLoad' : 'hideLoad'">
        <mat-spinner></mat-spinner>
    </div>
    <mat-sidenav-container>
        <mat-sidenav #sideMenu>
            <mat-nav-list>
                <ng-template ngFor let-action [ngForOf]="sideMenuActions">
                    <div class="sideMenuAction" *ngIf="action.show && currentUser" (click)="action.onClick(sideMenu.toggle())">
                        <span> {{ action.name }}</span>
                        <mat-icon aria-label="Icon">
                            {{ action.iconName }}
                        </mat-icon>
                    </div>
                </ng-template>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content #sideMenuContent>
            <cim-bread-crumb [breadcrumbs]="breadcrumbs"></cim-bread-crumb>
            <div class="body">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>

<cim-context-menu></cim-context-menu>