.main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main-container > cim-header {
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    z-index: 2;
}

.main-container > mat-sidenav-container {
    height: 95vh;
    background-color: #fdfdfd;
}

.main-container > mat-sidenav-container > mat-sidenav {
    width: 20%;
}

div.body {
    padding: 25px 50px;
}

.main-container > div.body > cim-login-app {
    flex: 1;
}

div.sideMenuAction {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-bottom: 1px solid #efefef;
    cursor: pointer;
}

div.sideMenuAction:hover {
    background: rgba(0,0,0,.04);
}