.main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.main-container > cim-header {
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    z-index: 2;
}

.main-container > div.spinnerContainer {
    position: fixed;
    background-color: rgba(0,0,0,.2);
    transition: all 300ms ease;
    height: 100%;
    width: 100%;
}

.main-container > div.spinnerContainer.hideLoad {
    z-index: 0;
    opacity: 0;
}

.main-container > div.spinnerContainer.showLoad {
    z-index: 99999;
    opacity: 1;
}

.main-container > div.spinnerContainer > mat-spinner {
    left: 50%;
    top: 25%;
}

.main-container > mat-sidenav-container {
    height: 100%;
    background-color: #fdfdfd;
}

.main-container > mat-sidenav-container > mat-sidenav {
    width: 20%;
}

div.body {
    height: 100%;
}

.main-container > div.body > cim-login-app {
    flex: 1;
}

div.sideMenuAction {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-bottom: 1px solid #efefef;
    cursor: pointer;
}

div.sideMenuAction:hover {
    background: var(--secondary-hover-color);
}