.wrapper {
    display: flex;
    flex-direction: column;
}

.wrapper > .userDetail, .usersOverview {
    overflow: hidden;
    padding: 1px 0;
}

.wrapper > .usersOverview > button.addUserButton {
    width: 100%;
}

:host > .wrapper > .userDetail >>> cim-user-detail > .detailWrapper > .editUser {
    padding: 0;
    border: none;
    box-shadow: none;
}