.card.rippleRow {
    flex-direction: row;
    padding: 12px 18px;
    cursor: pointer;
    align-items: center;
    background-position: center;
    transition: background 0.8s;
    justify-content: space-between;
}
.rippleRow:hover {
    background: #ececec radial-gradient(circle, transparent 1%, #ececec 1%) center/15000%;
}
.rippleRow:active {
    background-color: #f7f7f7;
    background-size: 100%;
    transition: background 0s;
}
.rippleRow > div.header > i.material-icons {
    margin-right: 15px;
}
.rippleRow > i.delete {
    font-size: 18px;
    padding: 3px 10px;
}