<div class="card rippleRow" *ngFor="let template of templates" (click)="onTemplateClick(template)">
    <div class="header">
        <i class="material-icons"> collections </i>
        {{ template.name }}
    </div>
    <div class="actions">
        <i class="material-icons" (click)="editTemplate($event, template)"
           matTooltip="Bewerken"
           [matTooltipPosition]="'above'"
           matTooltipClass="tooltip"> edit </i>
        <i class="material-icons delete" *ngIf="!template.isDefault" (click)="deleteTemplate($event, template)"
           matTooltip="Verwijderen"
           [matTooltipPosition]="'above'"
           matTooltipClass="tooltip"> delete_forever </i>
    </div>
</div>
