mat-card.userRow {
    display: flex;
    justify-content: space-between;
    border: solid 1px #cecece;
    border-bottom: none;
    cursor: pointer;
    padding: 10px 18px;
    color: var(--primary-color);
}
mat-card.userRow.mat-card:hover {
    background: var(--secondary-hover-color);
}
mat-card.userRow > mat-card-header.mat-card-header > div.avatar {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

mat-card-subtitle.mat-card-subtitle {
    margin-bottom: 0;
}

mat-card-actions.actionButton {
    display: flex;
    padding-right: 8px;
}
mat-card-actions.actionButton > .actionsEditDelete {
    display: inline;
}
mat-card-actions.actionButton > .actionsEditDelete > i.material-icons {
    font-size: 20px;
}