<mat-card class="userRow" (click)="editUser($event)">
    <mat-card-header>
        <div mat-card-avatar *ngIf="image" class="avatar" [style.backgroundImage]="image" ></div>
        <mat-card-title> {{ user.getFullName() }}</mat-card-title>
        <mat-card-subtitle> {{ user.function }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-actions class="actionButton">
        <div class="actionsEditDelete">
            <i *ngIf="currentUser.isAdmin() && !user.isAdmin()" class="material-icons" (click)="deleteUser($event)"> delete_forever </i>
        </div>
        <i class="material-icons"> arrow_right </i>
    </mat-card-actions>
</mat-card>