<h1 mat-dialog-title>{{ data.title }}</h1>
<div class="profilePicture">
    <label for="file">
        <img class="avatar mat-card-avatar" id="blah" [src]="imageSrc" alt="your image" />
        <div class="overlay">
            <div class="text"> Wijzigen </div>
        </div>
    </label>
</div>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="formWrapper">
        <div mat-dialog-content>
            <mat-form-field>
                <input matInput placeholder="Voornaam" formControlName="firstName" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Tussenvoegsel" formControlName="insertion">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Achternaam" formControlName="lastName" required>
            </mat-form-field>
            <mat-form-field>
                <input type="email" matInput placeholder="Email" formControlName="email" required>
            </mat-form-field>
            <mat-form-field>
                <input type="text" matInput placeholder="Telefoon nummer" formControlName="phoneNumber" required>
            </mat-form-field>
            <mat-form-field>
                <input type="text" matInput placeholder="Functie" formControlName="function" required>
            </mat-form-field>
            <input [hidden]="true" id="file" multiple type="file" (change)="onImageUpload($event)">
        </div>
        <mat-selection-list #projects>
            <h4> Kies project </h4>
            <mat-list-option *ngFor="let project of allProjects" (click)="onProjectSelect(project)">
                {{ project.getName() }}
            </mat-list-option>
        </mat-selection-list>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick($event)">Annuleren</button>
        <button mat-raised-button type="submit">{{ data.submitButton }}</button>
    </div>
</form>
