<div class="detail" *ngIf="event && !user.isAdmin()" [@fadeIn]>
  <div class="header">
    <button mat-button (click)="onCloseView()" > <i class="material-icons"> close </i> </button>
    <h3> {{ event ? 'Bewerk activiteit' : 'Nieuwe activiteit' }} </h3>
  </div>
  <div class="content">
    <h4> {{event.name}} </h4>
    <div class="text">
      <label>Omschrijving: </label>
      <span>{{ event.description }}</span>
    </div>
    <div class="text">
      <label>Begin datum: </label>
      <span>{{ event.startDate | date }}</span>
    </div>
    <div class="text">
      <label>Eind datum: </label>
      <span>{{ event.endDate | date }}</span>
    </div>
    <div *ngIf="testBool"> <h1>testing</h1></div>
    <div class="location">
      <label>Locatie</label>
      <div class="map" *ngIf="location">
        <agm-map [latitude]="location.latitude" [longitude]="location.longitude">
          <agm-marker [latitude]="location.latitude" [longitude]="location.longitude"></agm-marker>
        </agm-map>
      </div>
    </div>
  </div>
</div>