i.material-icons {
    margin-right: 15px;
}
.toggleTitle {
    align-items: center;
    justify-content: space-between;
}
.toggleTitle > div.actions > i.material-icons {
    font-size: 18px;
    margin-right: 0;
    padding: 7px 8px 0 2px;
    cursor: pointer;
}
.toggleTitle > div.actions > i.material-icons:last-child {
    padding-right: 0;
}
.toggleTitle > .rowTitle {
    display: flex;
    align-items: center;
}
.expansion-panel {
    padding: 0;
}