i.material-icons {
    margin-right: 15px;
}
.toggleTitle {
    align-items: center;
    justify-content: space-between;
}
.toggleTitle > div.actions > i.material-icons {
    font-size: 18px;
    margin-right: 0;
    padding: 7px 8px 0 2px;
    cursor: pointer;
}
.toggleTitle > div.actions > i.material-icons:last-child {
    padding-right: 0;
}
.toggleTitle > .rowTitle {
    display: flex;
    align-items: center;
}
.expansion-panel {
    padding: 0;
}
.dragBox {
    cursor: move;
}
.cdk-drag-preview {
    font-size: 14px;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.cdk-drag-placeholder {
    opacity: 0;
}
.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}