div.positionFixed {
    position: fixed;
    top: 70px;
    right: 35px;
    left: 50%;
}

:host > div.normal > div.documentView >>> cim-document-detail > div > .card {
    border: none;
    box-shadow: none;
    padding: 0;
}
:host > div.normal > div >>> cim-detail-folder > div > .card {
    border: none;
    box-shadow: none;
    padding: 0;
}
:host > div.normal > div >>> cim-item-list > div.card {
    border: none;
    box-shadow: none;
    padding: 0;
}

:host > div.normal > div.documentView >>> cim-document-detail >>> cim-document-detail-public > .card {
    border: none;
    box-shadow: none;
    padding: 0;
}