div.detailView {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    border: solid 1px #cecece;
    border-bottom: none;
    padding: 18px;
    border-radius: 4px;
    color: rgba(0,0,0,.87);
    background-color: #fff;
    transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1);
}