<div class="addItem" [ngClass]="{'showButton': !showAddItemList && currentUser && currentUser.isAdmin() && currentFolder && !currentFolder.isMainFolder}">
    <!--<div class="addItemButton" (click)="addItem($event)">-->
        <!--<i class="material-icons"> add </i>-->
        <!--<span> Voeg een document of een folder toe</span>-->
    <!--</div>-->
</div>
<div class="wrapper" *ngIf="currentUser">
    <div class="overview" *ngIf="items && items.length > 0">
        <ng-container *ngFor="let item of items; let itemIndex = index">
            <div class="partnersWrapper" *ngIf="itemIndex === 1 && currentFolder.isMainFolder" (click)="showAllPartners($event)">
                <div class="header">
                    <i class="material-icons"> people </i>
                    <h3> Partners</h3>
                </div>
                <div class="actions">
                    <i class="material-icons"> arrow_right </i>
                </div>
            </div>
            <div *ngIf="checkItemIsFolder(item) ; then folderBlock; else documentBlock"></div>
            <ng-template #folderBlock>
                <cim-folder-row [folder]="item"
                                [currentUser]="currentUser"
                                (sendDocumentToFolder)="onDocumentEdit($event)">
                </cim-folder-row>
            </ng-template>

            <ng-template #documentBlock>
                <cim-document-row [document]="item"
                                  [currentUser]="currentUser"
                                  [parentFolder]="currentFolder"
                                  (activatedDocument)="onDocumentEdit($event)">
                </cim-document-row>
            </ng-template>
        </ng-container>
    </div>
    <div class="editDocument" *ngIf="documentToEdit && currentUser.isAdmin()">
        <cim-document-detail
                [document]="documentToEdit"
                (closeEditForm)="onDocumentEditClose($event)">
        </cim-document-detail>
    </div>
    <div class="partners" *ngIf="!documentToEdit && partnerIsOpen">
        <cim-partners
                [projectId]="currentFolder.getProjectId()">
        </cim-partners>
    </div>
    <div class="addItemList" *ngIf="showAddItemList && mainFolder && currentFolder">
        <cim-item-list
                [mainFolder]="mainFolder"
                [currentFolder]="currentFolder"
                (cancelAddItems)="onAddItemsCancel($event)"
                (saveItemsDone)="onItemsAdded($event)">
        </cim-item-list>
    </div>
    <div class="addItemForMainFolder" *ngIf="currentFolder && currentFolder.isMainFolder && showCreateNewItem">
        <cim-item-create [folder]="currentFolder"></cim-item-create>
    </div>
</div>